.columns.is-vcentered
	.column.has-text-centered.is-hidden-mobile
		.icon.is-large
			%i.fas.fa-3x.fa-share
		%p
			Paste a Gherkin feature or drop a file
	.column.is-half
		= form_with local: true, url: root_path do
			.field
				= label_tag :feature, 'Your Gherkin feature', class: 'label'
				.control
					= text_area_tag :feature, @feature, id: :notepad, class: 'textarea feature', placeholder: 'Feature: My awesome feature'
			.field.has-text-centered
				.control
					= submit_tag 'Submit', class: 'button is-link'
		
		= javascript_pack_tag 'dragdrop', 'data-turbolinks-track': 'reload'
	.column
		There you go
	
			
= debug @parse_error
= debug @report&.with_problems()