%section.is-pickle
	.container.pt-6.pb-6
		.columns.is-vcentered
			.column.has-text-centered.is-hidden-mobile
				.icon.is-large
					%i.fas.fa-3x.fa-share
				%p
					Paste a Gherkin feature or drop a file
			.column.is-three-quarters
				= form_with local: true, url: root_path do
					.field
						= label_tag :feature, 'Your Gherkin feature', class: 'label'
						.control
							= text_area_tag :feature, @feature, id: :notepad, class: 'textarea feature', placeholder: 'Feature: My awesome feature'
					.field.has-text-centered
						.control
							= submit_tag 'Check my Gherkin', class: 'button is-primary'
				
				
			

- if @parse_error
	%section#result.has-text-centered.py-6.has-background-danger.has-text-light
		%h1.title This isn't Gherkin!
		%h2.subtitle Your input couldn't be parsed
		%p
			Have a look at the offical
			%a(href="https://cucumber.io/docs/gherkin/reference/") Gherkin Reference
			documentation of you need help
- elsif @report
	- if @report.with_problems.empty?
		%section#result.has-text-centered.py-6.has-background-success
			%h1.title	This is delicious!
			%h2.subtitle No issues found
	- else
		%section#result
			%table.table
				%tbody
					- @report.issues.each do |issue|
						%tr
							%td= "Line #{issue.dig(:location, :line)}"
							%td= issue[:message]
					
	
= javascript_pack_tag 'dragdrop', 'data-turbolinks-track': 'reload'