%h1 Chutney#index
%p Find me in app/views/chutney/index.html.haml

= form_with local: true do
	= text_area_tag :feature, @feature, id: :notepad
	= submit_tag 'Submit'
	
= debug @parse_error
= debug @report&.with_problems()

= javascript_pack_tag 'dragdrop', 'data-turbolinks-track': 'reload'