!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1")/
    
    %title Chutney Online
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', async: true
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true
    %link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet" async='async')
  %body.site
    %nav.navbar.is-spaced(role='navigation' arial-label='main navigation')
      .navbar-brand
        %a.navbar-item(href=root_path)
          = image_tag 'chutney.png'
          %strong.pl-3 Chutney Online
        %a.navbar-burger.burger(role='button' arial-label='menu' aria-expanded="false" data-target="menuitems")
          %span(aria-hidden='true')
          %span(aria-hidden='true')
          %span(aria-hidden='true')
      #menuitems.navbar-menu
        .navbar-item
          = link_to 'About', page_path('hello')
        .navbar-item
          = link_to 'Rules', page_path('rules')
        .navbar-item
          %div
            Bar
    .site-content
      = yield
    
    %footer.footer
      .content
        %p 
          &copy; 2020 Billy Ruffian
          Using Chutney
          = "v#{Chutney::VERSION}"
          