!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chutney
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet")
  %body
    %nav.navbar.is-spaced.has-shadow(role='navigation' arial-label='main navigation')
      .navbar-brand
        %a.navbar-item(href=root_path)
          = image_tag 'chutney.png'
          %strong.pl-3 Chutney Online
        %a.navbar-burger.burger(role='button' arial-label='menu' aria-expanded="false" data-target="menuitems")
          %span(aria-hidden='true')
          %span(aria-hidden='true')
          %span(aria-hidden='true')
      #menuitems.navbar-menu
        .navbar-item
          = link_to 'About', page_path('hello')
        .navbar-item
          = link_to 'Rules', page_path('hello')
        .navbar-item
          %div
            Bar
    = yield
  
    %footer.footer
      .content
        %p &copy; 2020 Billy Ruffian